
.side-bar{
    height: 100%;
    width: 275px;
    background-color: #3b3a3c;
}
.side-bar-min{
    height: 100%;
    width: 65px;
    background-color: #3b3a3c;
}
.logo{
    height: 150px;
    width: 150px;
    background-color: white;
    background-image: url('/src/assets/img/logo.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin: 65px;
}
.side-bar-list{
    padding: 0;
    width: 100%;
    text-align:center;
}
.side-bar-list .side-bar-item{
    color: white;
    width: 100%;
    height: 45px;
    /* display: flex; */
    /* flex-direction: row; */
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
.side-bar-item #icon {
    /* flex: 30%; */
}
.side-bar-item #title {
    /* flex: 70%; */
    color: white;
}
.side-bar-item #title:hover {
    color: #078B45;
}
.side-bar-x-1{
    cursor: pointer;
    color: white;
    text-align: end;
    margin-right: 30px;
}
.side-bar-x-2{
    cursor: pointer;
    color: white;
    text-align: center;
}