.profile-align{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}
.profile-pic{
    height: 200px;
    width: 200px;
    background-color: white;
    background-image: url('/src/assets/img/lud.jpg');
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}
.profile-card{
    height: 175px;
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    flex-direction: column;
    background-color: white;
    font-size: 16px;
    color:#394867;
    box-shadow: 3px 3px #888888;
    width: 75%;
    height: 75%;

}
